// Colors
$background-color: #323A45;
$primary-color: #FFECDB;
$secondary-color: #89c4f4;
$tertiary-color: #c71585;

// Fonts
$font-family:
    /// From Bootstrap, for optimal rendering on devices
    // Safari for OS X and iOS (San Francisco)
    -apple-system,
    // Chrome < 56 for OS X (San Francisco)
    BlinkMacSystemFont,
    // Windows
    "Segoe UI",
    // Android
    "Roboto",
    // Basic web fallback
    "Helvetica Neue", Arial, sans-serif,
    // Emoji fonts
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Mixins
@mixin box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
